---
import Layout from '../../layouts/Layout.astro';
import ProductImages from "../../components/ProductImages";
import SmallDesc from "../../components/SmallDesc";
import CurrentlyViewingBanner from "../../components/CurrentlyViewingBanner";
import Bundle from "../../components/Bundle";
import AddToCart from "../../components/AddToCart";
import Dropdowns from "../../components/Dropdowns";
import AddToCartPopup from '../../components/AddToCartPopup';
import ReviewsPage from "../../components/ReviewsPage";
import { urlString } from '../../utils/api';

export async function getStaticPaths() {
  const products = await fetch(`${urlString}/products`).then((res) => res.json());

  const paths = products.map((product) => ({
    params: { url: product.url },
    props: { 
      _id: product._id,
      name: product.name,
      price: product.price,
      desc: product.desc,
      metaDesc: product.metaDesc,
      oldPrice: product.oldPrice,
      image: product.image,
      smallDescs: product.smallDesc,
      dropdowns: product.dropdowns,
      reviews: product.reviews,
      models: product.models,
      product: product
    }
  }));

  return paths;
}

const { url } = Astro.params;
const { product, _id, name, price, oldPrice, image, desc, metaDesc, smallDescs, dropdowns, reviews, models } = Astro.props;
const title = name;
const description = metaDesc;
---

<Layout title={title} description={description}>
  <section class="singlep-main">
    <div class="singlep-main-container">
      <ProductImages images={image} client:load/>
      <section class="singlep-main-info">
        <div class="titles">
          <a href="/products">Back to all products</a>
          <h1>{name}</h1>
        </div>
        <SmallDesc smallDescs={smallDescs} client:load />
        <div class="product-payment">
          <p class="currentlyviewing">
            <img
              src="/svg/eye.svg"
              width="14"
              height="auto"
              decoding="async"
              alt="Eye icon"
            />
            <CurrentlyViewingBanner checkout={false} client:only/>
          </p>
          <div class="product-bundle">
            <Bundle price={price} oldPrice={oldPrice} models={models} client:load/>
            <p>Free shipping included</p>
            <AddToCart product={product} small={false} client:only />
          </div>
        </div>
        <div class="dropdowns">
          <Dropdowns dropdowns={dropdowns} client:load />
        </div>
      </section>
    </div>
  </section>
  <AddToCartPopup product={product} client:only />
  <section class="singlep-desc">
    <div set:html={desc}></div>
  </section>
  <ReviewsPage url={url} reviews={reviews} client:load />
</Layout>

<script>
	import { initVisit } from '../../stores/visit';
	
	initVisit();
</script>